/* old
    --main-bg-color: #1a1a1a;
    --main-highlight-color: #00E78E;
    --main-text-color: #ebebeb;


    ruby red A20021
    neon blue 5863f8
    maya blue 5FBFF9
    
    unbleached silk FFD6C0
    sky blue crayola 51E5FF
    illuiminating emerald 00916E
    lavender web E1E2EF
    wisteria B497D6
    silver pink BFACAA

    olive drab 7 332C23
    eggshell F1E9DA
    middle blue purple 8D86C9
    indigo 440381
    persian green 1b998b

    https://github.com/morhetz/gruvbox

*/

:root {
    --main-bg-color: #d7d2b2;
    --main-highlight-color: #b16286;
    --main-text-color: #332C23;
    --secondary-highlight-color: #8f3f71;
  }
  

html, body{
    height: 100%;
    width: 100%;
    
    font-family: 'Fira Mono', sans-serif;
    /*using vh doesnt allow for proper zooming, how the fuck to do this properly
    using px also breaks the layout due to some weird grid shit*/
    font-size: 2.1vh;
    line-height: 4rem;
    background-color: var(--main-bg-color);
    
}
a{
    color: var(--main-text-color);
    padding: 0.2rem 0 0.2rem 0; 
}

p {
    font-size: 1rem;
    color: var(--main-text-color);
    padding: 0.5rem 0 0.5rem 0;

}

h1{
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--main-highlight-color);
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-highlight-color);
}

h3{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--main-highlight-color);
}

h4{
    font-size: 1.1rem;
    color: var(--secondary-highlight-color);
}

.page-container{

    height: 100%;
    width: 100%;

    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 5vh 1fr 5vh;
    grid-template-rows: 5vh 1fr 5vh;

    -ms-grid-columns: 15vw 1fr 20vw 15vw;
    grid-template-columns: 15vw 1fr 20vw 15vw;
    
    grid-template-areas: 
        ". header header ." 
        ". content-container content-container ." 
        ". footer footer .";
                    

    -ms-flex-line-pack: space-evenly;
                    

    align-content: space-evenly;
    justify-items: center;
}

.footer {
    grid-area: footer;
}

.header {
    grid-area: header;
    justify-self: center;
    align-self: center;

    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.header a {
    text-align: right;
    padding: 0;
}

.header a:hover {
    border-bottom: 0.2rem solid var(--main-highlight-color);
    transition: 50ms ease-in-out;
}

a:hover {
    color: var(--secondary-highlight-color);
    transition: 50ms ease-in-out;
}

.side-nav {
    width: 20%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    justify-content: start;
}

.side-nav .container {
    margin-top: 1rem;
}

.side-nav ul li {
    margin-top: 1rem;
    padding-right: 1rem;
}


.side-nav ul li:first-child {
    margin-top: 0;
}

.side-nav li {
    text-align: right;
}

.side-nav a {
    font-weight: 800;
}

.side-nav a:hover {
    color: var(--secondary-highlight-color);
    transition: 50ms ease-in-out;
}

.content-container{
    grid-area: content-container;

    width: 100%;
    height: 100%;

    justify-self: left;
    align-self: start;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;

    align-items: center;
    justify-content: space-evenly;
}

.content-container .content {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;

    align-items: flex-start;
}

.content-container .content > section {
    margin-bottom: 2rem;
}

.content-container .content p {
    line-height: 2rem;
}

a{
    color: var(--main-highlight-color);
}

p a{
    color: var(--main-highlight-color);
    border-bottom: 1px solid var(--main-text-color);
}
p a:hover{
    border-bottom: 2px solid var(--main-highlight-color);
}

@media only screen and (max-width: 768px){

    html, body{
        height: 100%;
        width: 100%;
        
        display: -webkit-box;
    }

    .page-container{
        -ms-grid-columns: 5vw 1fr 5vw;
        grid-template-columns: 5vw 1fr 5vw;

        -ms-grid-rows: 2vh 1fr 2vh;
        grid-template-rows: 2vh 1fr 2vh;

        grid-template-areas: 
        ". content-container ." 
        ". content-container ." 
        ". content-container .";
    }

    .content-container {
        flex-flow: column nowrap;
    }

    .content-container .content{
        width: 90%;
    }

    .side-nav {
        display: none;
        width: 90%;
    
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        justify-content: start;
        align-items: flex-end;
    }

    .side-nav .container {
        position: inherit;
        width: 100%;

        display: flex;
        flex-flow: column wrap;

        justify-content: space-evenly;
        align-items: center;


        border: none;
    }
}
