html, body{
    height: 100vh;
    width: 100vw;
    
    font-family: Montserrat, sans-serif;
    line-height: 4vh;
    background-color: #1a1a1a;
    
}
p,a{
    color: #ebebeb;
    font-size: 2vh;
    padding: 0.5rem 0 0.5rem 0;
}

h1{
    font-size: 5vh;
    line-height: 6vh;
    font-weight: bold;
    color: #00E78E;
    
}
h2{
    font-size: 3vh;
    line-height: 4vh;
    font-weight: bold;
    color: #00E78E;
    
}

body{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10vh 2fr 1fr 10vh;
    grid-template-rows: 10vh 5fr 1fr 10vh;
    -ms-grid-columns: 20vw 1fr 20vw;
    grid-template-columns: 20vw 1fr 20vw;
    

        grid-template-areas: ". . ." ". presentation-section ." ". links-section ." ". . .";
                    

    -ms-flex-line-pack: space-evenly;
                    

        align-content: space-evenly;
    justify-items: center;
}

.presentation-text{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: presentation-section;
    justify-self: left;
    align-self: center;

    width: 60%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    
}


p a{
    color: #00E78E;
    border-bottom: 1px solid #ebebeb;
}
p a:hover{
    border-bottom: 2px solid #00E78E;
}


.links{
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: links-section;
    justify-self: left;
    align-self: end;
    
    min-width: 20%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.links a{
    background-size: 1.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    
    color: transparent;

    -webkit-filter: invert(100%);

            filter: invert(100%);
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
.links a:hover{
    -webkit-filter: invert(44%) sepia(32%) saturate(5102%) hue-rotate(129deg) brightness(94%) contrast(98%);
            filter: invert(44%) sepia(32%) saturate(5102%) hue-rotate(129deg) brightness(94%) contrast(98%);

}

.github-link{
    background: url("../images/icons/github.svg") no-repeat bottom 50% center;
}

.codepen-link{
    background: url("../images/icons/codepen.svg") no-repeat bottom 45% center;
}

.linkedin-link{
    background: url("../images/icons/linkedin.svg") no-repeat bottom 45% center;
}




@media only screen and (max-width: 768px){
    body{
        -ms-grid-columns: 5vw 1fr 5vw;
        grid-template-columns: 5vw 1fr 5vw;
    }
    .presentation-text{
        width: 100%;
    }
    .links{
        width: 100%;
    }
}