.qrcode-placeholder {
    width: 200px;
    height: 200px;
    background-color: #565656;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(80, 169, 80);
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.1rem;
    font-weight: 900;
}

a {
    color: rgba(80, 169, 80, 1);
    font-weight: 600;
    &:hover {
        color: rgba(80, 169, 80, 0.9);
        text-decoration: underline;
    }
}

/* Estilos principais */
main {
    padding: 1em;
    text-align: center;
}

main section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1em 0;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos do rodapé */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em 0;
}

/* Estilos para telas maiores */
@media (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 1em;
    }

    main {
        padding: 2em;
    }

    .intro {
        min-height: 90vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
    
    .profile {
        width: 70%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .profile img {
        border-radius: 2rem;
    }

    .profile-description {
        max-width: 60%;
        text-align: justify;
        line-height: 4vh;
    } 
    .profile-description p {
        padding-bottom: 1rem;
    }

    .doacoes {
        width: 40%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}
